%h1.inline-center 
  &= '#'
  = @search_word
-if 
- @feed.each do |tag|
  .shampoos
    %p
      = image_tag tag.shampoo.image.url, width: "500" if tag.shampoo.image?
    %p
      Shampoo Name : 
      = link_to "#{tag.shampoo.name}", shampoo_path(tag.shampoo)
    %p
      Shampoo Storage : 
      = tag.shampoo.storage
      ml
    %p
      Shampoo Price : 
      = tag.shampoo.price
      yen

    .tag
      - tag.shampoo.tags.each do |tag|
        %span 
          = link_to "#" + "#{ tag.name }", search_tags_index_path(params: { search_word: tag.name })
        %span.font-mini
          username: 
          = tag.user.name
        %span.tag_delete
          = link_to "delete", tag, method: :delete, data:{confirm: "you sure? " }

    = form_for (@tag) do |f|
      = render 'shared/error_messages', object: f.object

      = f.label :Tag
      = f.text_field :name

      = f.hidden_field :shampoo_id, value: tag.shampoo.id

      = f.submit "Post taaaaag!"

= paginate @feed
