.inline-center

  %h1 Sign up

  = form_for(@user) do |f|
    = render 'shared/error_messages', object: f.object

    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :email
      = f.email_field :email

    %p
      = f.label :password
      = f.password_field :password

    %p
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation

    %p
      = f.label :age
      = f.number_field :age

    %p
      = f.label :gender
      = f.number_field :gender
      
    %p
      = f.submit "Create my account"