%h1 Shampoos#index
%p Find me in app/views/shampoos/index.html.haml

%p
  = link_to "New Shampoo", new_shampoo_path

- @shampoos.each do |shampoo|
  = image_tag shampoo.image.url, width: "500" if shampoo.image?
  = link_to "#{shampoo.name}", shampoo_path(shampoo)
  = shampoo.storage
  = shampoo.price 
= paginate @shampoos