-if logged_in?
  - if @shampoos
    - @shampoos.each do |shampoo|
      .shampoos
        %p.shampoo-name.font-style.b
          Shampoo Name : 
          = link_to "#{shampoo.name}", shampoo_path(shampoo)

        %p.image
          = image_tag shampoo.image.url, width: "500" if shampoo.image?

        %ul
          %li.info
            %span.font-mini
              Storage : 
            = shampoo.storage
            %span.font-mini
              ml
          %li.info
            %span.font-mini
              Price : 
            = shampoo.price
            %span.font-mini
              yen

        .tag
          - shampoo.tags.each do |tag|
            %span 
              = link_to "#" + "#{ tag.name }", search_index_path(params: { search_word: '#' + tag.name })
            %span.font-mini
              &= ':' 
              = tag.user.name
            - if tag.user_id == current_user.id
              %span.font-mini
                = link_to "delete", tag, method: :delete, data:{confirm: "you sure? " }


        = form_for (@tag) do |f|
          = render 'shared/error_messages', object: f.object

          = f.label :Tag
          = f.text_field :name

          = f.hidden_field :shampoo_id, value: shampoo.id

          = f.submit "Post taaaaag!"

    .inline-center
      = paginate @shampoos