%h1 Shampoos#index
%p Find me in app/views/shampoos/index.html.haml

%p
  = link_to "New Shampoo", new_shampoo_path

- @shampoos.each do |shampoo|
  .shampoos
    %p
      = image_tag shampoo.image.url, width: "500" if shampoo.image?
    %p
      Shampoo Name : 
      = link_to "#{shampoo.name}", shampoo_path(shampoo)
    %p
      Shampoo Storage : 
      = shampoo.storage
    %p
      Shampoo Price : 
      = shampoo.price

    .tag
      - @tags.each do |tag|
        - if tag.shampoo_id == shampoo.id
          = tag.name 
          = tag.user_id

    = form_for (@tag) do |f|
      = render 'shared/error_messages', object: f.object

      = f.label :name
      = f.text_field :name

      = hidden_field_tag :user_id, current_user.id

      = hidden_field_tag :shampoo_id, shampoo.id

      = f.submit "Post taaaaag!"


= paginate @shampoos