%h1 New Shampoo

.center
  = form_for(@shampoo) do |f|
    = render 'shared/error_messages', object: f.object

    %p
      = f.label :name
      = f.text_field :name

    %p
      = f.label :price
      = f.number_field :price
    %p
      = f.label :storage
      = f.number_field :storage

    %p
      = f.label :image
      = f.file_field :image

    = f.submit "Post Shampoooooo!"