.shampoos
  %p.shampoo-name.font-style.b
    Shampoo Name : 
    = link_to "#{@shampoo.name}", shampoo_path(@shampoo)

  %p.image
    = cl_image_tag @shampoo.image.url, width: "500" if @shampoo.image?

  %ul
    %li.info
      - unless @shampoo.amazon_url.nil?
        %span
          = link_to "買う", @shampoo.amazon_url.to_s + "&tag=sakusaku0e1-22"
    %li.info
      %span.font-mini
        Shampoo Storage : 
      = @shampoo.storage
      %span.font-mini
        ml
    %li.info
      %span.font-mini
        Shampoo Price : 
      = @shampoo.price
      %span.font-mini
        yen

  .tag
    - @shampoo.tags.each do |tag|
      %span 
        = link_to "#" + "#{ tag.name }", search_index_path(params: { search_word: '#' + tag.name })

  = form_for (@tag) do |f|
    = render 'shared/error_messages', object: f.object

    = f.label :Tag
    = f.text_field :name

    = f.hidden_field :shampoo_id, value: @shampoo.id

    = f.submit "Post taaaaag!"


