%h1 Shampoos#show
%p Find me in app/views/shampoos/show.html.haml

= @shampoo.name
= @shampoo.price
= @shampoo.storage

- if @shampoo.image?
  = image_tag @shampoo.image.url, width: "500"

- if current_user.admin? # && current_user?(@user)
  = link_to "delete", @shampoo, method: :delete, data:{confirm: "you sure? " }