
.center.logo
  = link_to image_tag("shampoo.png"), root_path

.inline-center.nav
  = link_to "New Shampoo", new_shampoo_path
  %p
    = form_tag search_index_path, method: :get do
      = text_field_tag :search_word, params[:search_word], placeholder: "Shampoo or #"
      = submit_tag "Search", class: "search_button"
