
.center.logo
  = link_to root_path do
    .logo
      = image_tag("shampoo.png")

.inline-center
  - if logged_in?
    = link_to "log out", logout_path,method: :delete
    |
    = link_to "Settings", edit_user_path(current_user)
    |
    = link_to "New Shampoo", new_shampoo_path
    |
  - else
    = link_to "log in", login_path
    |

  = link_to "Shampoos", shampoos_path
  |

  - unless logged_in?
    = link_to "Sign up", signup_path