%p.shampoo-name.font-style.b
  &= ':'
  = link_to "#{shampoo.name}", shampoo_path(shampoo)

%p.image
  = image_tag shampoo.image.url, width: "500" if shampoo.image?

%ul.zilla.shampoo-info
  %li.info
    %span.font-mini
      Storage : 
    = shampoo.storage
    %span.font-mini
      ml
  %li.info
    %span.font-mini
      Price : 
    = shampoo.price
    %span.font-mini
      yen