%p.shampoo-name.font-style.b
  &= ':'
  = link_to "#{shampoo.name}", shampoo_path(shampoo)

.image
  = image_tag shampoo.image.url, width: "500" if shampoo.image?

%ul.zilla.shampoo-info
  %li.info
    - unless shampoo.amazon_url.nil?
      %span
        = link_to "買う", shampoo.amazon_url.to_s + "&tag=sakusaku0e1-22"
  %li.info
    %span.font-mini
      Storage : 
    = shampoo.storage
    %span.font-mini
      ml
  %li.info
    %span.font-mini
      Price : 
    = shampoo.price
    %span.font-mini
      yen