= form_for (@tag) do |f|
  = render 'shared/error_messages', object: f.object

  = f.label :Tag ,class: "zilla"
  = f.text_field :name

  = f.hidden_field :shampoo_id, value: shampoo.id

  = f.submit "Post taaaaag!", class: "zilla"