<!DOCTYPE html>
<html>
  <head>
    <title>Shampers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= yield %>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> inline-center"><%= message %></div>
      <% end %>
    <footer>
      Shampers all rights reserved. Support on Kota Sakurai.
    </footer>
  </body>
</html>
